body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  position: relative;
  top: 10px;
}

.nav-links ul a {
  text-decoration: none;
  color: black;
}

.nav-links li {
  margin-left: 20px;
}

.links li {
  margin-left: 20px;
}

/* Hero Section */

.hero-section {
  background-image: url("/images/hero-1.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.hero-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 70;
  position: relative;
  left: 100px;
  top: 100px;
}

.hero-section span {
  color: #69ae14;
}

.hero-section h1 {
  width: 100%;
}

.hero-section button {
  display: inline-block;
  color: white;
  background-color: #69ae14;
  border-radius: 5px;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  border: 0px;
}

/* produts */

.collection-1 {
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
}

.item :hover {
  opacity: 70%;
}

.item img {
  width: 262px;
  height: 262px;
  text-align: center;
}

.btn-shop button {
  position: relative;
  left: 100px;
  bottom: 190px;
  display: inline-block;
  color: white;
  background-color: #69ae14;
  border-radius: 10px;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  border: 0px;
}

/* .btn-shop p {
  position: relative;
  left: 115px;
  bottom: 190px;
  color: white;
} */
/* footer */

footer {
  display: flex;
  background-color: rgb(27, 26, 26);
  color: white;
  height: 40;
}

footer ul li {
  list-style: none;
  position: relative;
}

.box {
  margin-left: 100px;
}

.contact-us {
  position: relative;
  left: 120px;
}

/*  */

.collection-class h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -10px;
}

/* new produts */

.grid-container {
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;

  /* Media Query for Responsive Layout */
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.grid-item img {
  width: 272px;
  height: 272px;
}
.grid-item span {
  color: #69ae14;
}
